/*! normalize.css v1.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  /* 2 */

  -ms-text-size-adjust: 100%;
  /* 2 */

}
/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/**
 * Address margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0;
}
/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}
/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  /* 3 */

  *vertical-align: middle;
  /* 3 */

}
/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

  *overflow: visible;
  /* 4 */

}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  /* 3 */

  *width: 13px;
  /* 3 */

}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
  text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/*
*
*
*
*
*	================
*	FONTS
*	================
*	http://www.dafont.com/digital-7.font
*/
@font-face {
  font-family: 'digital-7_monomono';
  src: url('../fonts/digital-7_mono-webfont.eot');
  src: url('../fonts/digital-7_mono-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/digital-7_mono-webfont.woff') format('woff'), url('../fonts/digital-7_mono-webfont.ttf') format('truetype'), url('../fonts/digital-7_mono-webfont.svg#digital-7_monomono') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
*
*
*
*
*	================
*	MIXINS
*	================
*
*
*
*
*/
.box-section {
  background: #fafafa;
  padding: 5px 10px ;
  color: #444;
  line-height: 1.1em;
  border-bottom: 1px solid #dddddd;
}
.box-section li a {
  color: #444;
  line-height: 1.3em;
}
.standardForm {
  display: table;
  width: 100%;
  border: 1px solid #ccc;
  background: #fafafa;
  padding: 5px 10px ;
  color: #444;
  line-height: 1.1em;
  border-bottom: 1px solid #dddddd;
}
.standardForm li a {
  color: #444;
  line-height: 1.3em;
}
.standardForm .form-element {
  display: table-row;
  width: 100%;
}
.standardForm .form-element input {
  display: inline-block;
  line-height: 2em;
  padding: 0 .7em;
  width: 75%;
}
.standardForm .form-element label {
  display: block;
  margin: 10px 0 10px 0 ;
}
.standardForm .form-element .submit {
  width: 80%;
  margin: 20px 10%;
  display: block;
  line-height: 2.5em;
  z-index: 100000;
  border-radius: 5px;
  opacity: .9;
}
/*
*
*
*
*
*	==============================
*	MEDIA QUERY BOOLEANS
*	this div is referenced in JS
*	is block only if mobile,  
*	==============================
*
*
*
*
*/
#is320 {
  display: block;
}
#is480,
#is768,
#is1024 {
  display: none;
}
/*
*
*
*
*
*	=========================
*	PLATFORM SPECIFIC RULES
*	=========================
*
*
*
*
*/
.no-mobile {
  display: none;
}
/*
*
*
*
*
*	================
*	GLOBALS
*	================
*
*
*
*
*/
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1em;
}
ul {
  margin: 0;
  padding: 0;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
a {
  text-decoration: none;
  color: #000000;
}
* {
  box-sizing: border-box;
  -webkit-user-select: none;
}
ul {
  list-style: none;
  margin: 0;
}
ul li {
  list-style: none;
}
h1,
h2 {
  font-weight: 100;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.2em;
}
input[type=text],
input[type=password] {
  border: 1px solid #dddddd;
  user-select: default;
  -webkit-user-select: default;
  user-select: select;
  -webkit-user-select: auto;
}
input:focus,
button:focus {
  outline: none;
  background: #fafafa;
  border: 1px solid #ccc;
}
button {
  line-height: 2em;
  border: 1px solid #000;
  background: #000;
  color: #fff;
}
h1 {
  font-size: 1.5em;
  color: #000;
}
/*
*
*
*
*
*	================
*	MAIN LAYOUT
*	================
*
*
*
*
*/
body {
  background: #ffffff;
  color: #666666;
}
body,
html,
article,
.container,
#content,
#content > div {
  min-height: 100%;
  height: 100%;
  min-width: 100%;
}
#content {
  background-size: 10%;
  opacity: 1;
  background: transparent url(img/loading.gif) no-repeat center 30%;
  background-size: 20%;
}
#content .page {
  position: relative;
  background: #ffffff;
  min-height: 100%;
  height: 100%;
  padding: 40px 2% 40px 2%;
}
#content .page h1 {
  margin: 1em 0 ;
}
#content .page p {
  text-align: left;
}
#content .page .pagepadding {
  height: 60px;
}
/*
*
*
*
*
*	================
*	HEADER / FOOTER
*	================
*
*
*
*
*/
header .nav-bar {
  top: 0;
}
footer .nav-bar {
  bottom: 0;
}
.nav-bar {
  display: table;
  height: 40px;
  width: 100%;
  position: fixed;
  z-index: 9999;
}
.nav-bar .nav-btn {
  display: table-cell;
  vertical-align: middle;
  border-right: 1px solid #666;
  background: #000;
}
.nav-bar .nav-btn:last-child {
  border: none;
}
.nav-bar .nav-btn a {
  font-size: .9em;
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  color: #ffffff;
}
.nav-bar .nav-btn.active {
  background: #666;
}
.nav-bar.distribute2 .nav-btn {
  width: 50%;
}
.nav-bar.distribute3 .nav-btn {
  width: 33%;
}
.nav-bar.distribute4 .nav-btn {
  width: 25%;
}
/*
*
*
*
*
*	================
*	LOGO
*	================
*
*
*
*
*/
.logo {
  color: #bodyCopyColor;
}
.logo .sb {
  font-weight: 900;
  font-size: 7em;
  text-align: center;
  font-style: italic;
  letter-spacing: -0.1em;
  margin: 1em 0 0 -0.1em;
  color: #666;
}
.logo .sb span {
  font-weight: lighter;
  font-family: "Helvetica Neue";
  font-size: .2em;
  font-weight: 200;
  letter-spacing: 0;
  padding: 1.7em 0 0 0;
  margin: 0 0 0 .2em;
  display: block;
}
/*
*
*
*
*
*	================
*	HOME
*	================
*
*
*
*
*/
#home {
  text-align: center;
}
/*
*
*
*
*
*	================
*	ABOUT
*	================
*
*
*
*
*/
#about p {
  font-size: .9em;
}
#about header h1 {
  display: inline-block;
  width: 80%;
}
#about header #about-logo.logo {
  display: inline-block;
  width: 18%;
}
#about header #about-logo.logo .sb {
  font-size: 1.3em;
  margin: 0;
  padding: 5px 0;
  background: #000;
  color: #fff;
}
#about header #about-logo.logo .sb span {
  padding: .1em 0 0 0;
}
#about .about-section {
  background: #fafafa;
  padding: 5px 10px ;
  color: #444;
  line-height: 1.1em;
  border-bottom: 1px solid #dddddd;
}
#about .about-section li a {
  color: #444;
  line-height: 1.3em;
}
#about .sections {
  border: 1px solid #dddddd;
}
#about .about-section:nth-child(even) {
  background: #eee;
  border-top: 1px solid #fff;
}
#about .about-section:last-child {
  border-bottom: none;
}
/*
*
*
*
*
*	================
*	GAMES LISTING
*	================
*
*
*
*
*/
#games-list .listing-heading {
  background: #000;
  color: #fff;
  display: block;
  padding: 0 0 0 .5em;
  text-transform: uppercase;
  line-height: 2.2em;
  border-radius: 5px 5px 0 0;
}
#games-list ul.games-list {
  margin-bottom: 1em;
}
#games-list ul.games-list li a {
  display: block;
  padding: 0 0 0 .5em;
  background: #fafafa;
  margin: 0 0 1px 0;
  border: 1px solid #ccc;
  border-top: none;
  color: #666666;
  line-height: 2.2em;
}
/*
*
*
*
*
*	================
*	START  A GAME
*	================
*
*
*
*
*/
#new-game form {
  display: table;
  width: 100%;
  border: 1px solid #ccc;
  background: #fafafa;
  padding: 5px 10px ;
  color: #444;
  line-height: 1.1em;
  border-bottom: 1px solid #dddddd;
}
#new-game form li a {
  color: #444;
  line-height: 1.3em;
}
#new-game form .form-element {
  display: table-row;
  width: 100%;
}
#new-game form .form-element input {
  display: inline-block;
  line-height: 2em;
  padding: 0 .7em;
  width: 75%;
}
#new-game form .form-element label {
  display: block;
  margin: 10px 0 10px 0 ;
}
#new-game form .form-element .submit {
  width: 80%;
  margin: 20px 10%;
  display: block;
  line-height: 2.5em;
  z-index: 100000;
  border-radius: 5px;
  opacity: .9;
}
#new-game form .form-element #add-team {
  width: 25%;
  padding: 0;
  border-radius: 0 5px 5px 0;
  border-left: 1px solid #eee;
}
#new-game form .form-element #teams-list {
  margin-bottom: 1em;
  margin: 20px 0 20px 0;
  display: table;
  width: 100%;
  border-collapse: collapse;
}
#new-game form .form-element #teams-list li {
  display: table-row;
  width: 100%;
}
#new-game form .form-element #teams-list li span {
  display: table-cell;
  width: 75%;
  line-height: 1.6em;
  padding: .3em .7em;
  background: #fff;
  border: 1px solid #666;
  color: #666;
}
#new-game form .form-element #teams-list li span.remove-team {
  width: 25%;
  text-align: center;
}
/*
*
*
*
*
*	================
*	GAME
*	================
*
*
*
*
*/
#game .team-container {
  display: table;
  width: 100%;
  height: 5em;
  margin: 0 0 1em 0;
  border-collapse: collapse;
}
#game .team-container .cell {
  display: table-cell;
  vertical-align: middle;
  border: 3px solid #000;
  text-align: center;
  background: #444;
  color: #fff;
  font-family: "digital-7_monomono";
}
#game .team-container .team-name {
  width: 50%;
  font-size: 1.1em;
  letter-spacing: .08em;
}
#game .team-container .team-points {
  width: 30%;
  font-size: 4em;
}
#game .team-container .score-buttons {
  width: 20%;
  border: none;
  background: #fff;
  margin: 0;
  padding: 0;
}
#game .team-container .score-buttons .button-container {
  width: 100%;
}
#game .team-container .score-buttons .button-container span {
  height: 2em;
  width: 92%;
  margin-left: 8%;
  max-width: 100px;
  text-indent: -999em;
  display: block;
  cursor: pointer;
}
#game .team-container .score-buttons .btn-score-up {
  background: transparent url(img/arrow-up.png) no-repeat center center;
  background-size: 65%;
}
#game .team-container .score-buttons .btn-score-down {
  background: transparent url(img/arrow-down.png) no-repeat center center;
  background-size: 65%;
}
/*
*
*
*
*
*	================
*	SIGN UP - new user
*	================
*
*
*
*
*/
#signup form {
  display: table;
  width: 100%;
  border: 1px solid #ccc;
  background: #fafafa;
  padding: 5px 10px ;
  color: #444;
  line-height: 1.1em;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #ccc;
}
#signup form li a {
  color: #444;
  line-height: 1.3em;
}
#signup form .form-element {
  display: table-row;
  width: 100%;
}
#signup form .form-element input {
  display: inline-block;
  line-height: 2em;
  padding: 0 .7em;
  width: 75%;
}
#signup form .form-element label {
  display: block;
  margin: 10px 0 10px 0 ;
}
#signup form .form-element .submit {
  width: 80%;
  margin: 20px 10%;
  display: block;
  line-height: 2.5em;
  z-index: 100000;
  border-radius: 5px;
  opacity: .9;
}
